<h1>
<a href="http://localhost:9292/spaces/new">Post a space!</a>
</h1>

<ul> 
  <% @spaces.each do |space| %>
    <li>
      <h2><a href="#" + <%= space[:id] %>><%=  space[:name]  %></a></h2>
      <p><%= space[:description] %></p>
    </li>
  <% end %>
</ul>

