<h1>Book a space</h1>

<ul> 
  <% @spaces.each do |space| %>
    <li>
      <h2><a href="#" + <%= space[:id] %>><%=  space[:name]  %></a></h2>
      <p><%= space[:description] %></p>
    </li>
  <% end %>
</ul>