<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>List a space</h1>
  <p>This is the area for creating your own listing </p>
	<form action='/spaces/new' method='post'>
  <label for="name">Name:</label><br>
  <input type="text" name="name"><br>
  <label for="description">Description:</label><br>
  <input type="text" name="description"><br>
  <label for="price">Price per night:</label><br>
  <input type="text" name="price"><br>
  <label for="date1">Available from: YYYY/MM/DD</label><br>
  <input type="date" name="date1"><br>
  <label for="date2">Available to: YYYY/MM/DD</label><br>
  <input type="date" name="date2"><br>
  <label for="url">URL:</label><br>
  <input type="text" name="url"><br>
  <input type="submit" value="List my space">
</form>
  </body>
</html>




