<h1>Log in to MakersBnB</h1>
<form action="/sessions/new" method="post">
 <label for="email">Email Address:</label><br>
 <input type="text" name="email"><br>
 <label for="password">Password:</label><br>
 <input type="text" name="password"><br>
 <input type="submit" value="Login">
</form>

